---
title: All In! Events in RVA
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
--this is how the websites tab is labeled on a browser, and the icon that displays
-->
    <title>{{title}}</title>
---
title: All In! Events in RVA
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
--this is how the websites tab is labeled on a browser, and the icon that displays
-->
    <title>{{title}}</title>
---
title: All In! Events in RVA
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
--this is how the websites tab is labeled on a browser, and the icon that displays
-->
    <title>{{title}}</title>
---
title: All In! Events in RVA
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
--this is how the websites tab is labeled on a browser, and the icon that displays
-->
    <title>{{title}}</title>
---
title: All In! Events in RVA
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
--this is how the websites tab is labeled on a browser, and the icon that displays
-->
    <title>{{title}}</title>
---
title: All In! Events in RVA
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
--this is how the websites tab is labeled on a browser, and the icon that displays
-->
    <title>{{title}}</title>
---
title: All In! Events in RVA
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
--this is how the websites tab is labeled on a browser, and the icon that displays
-->
    <title>{{title}}</title>
    <link rel="icon" href="/assets/pansy.jpg" />
    <!--
--links to fonts & style sheets
-->
    <meta name="viewport" content="width=500, initial-scale=1" />
    <link rel="stylesheet" href="/assets/bannerstyle.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>
<body>
    {{content}}
</body>
</html>