/*
* CSS STYLESHEET
*/

/*
* PRIMARY STYLE DEFINITIONS
* Important brand colors, fonts, etc. should be defined
* up here, and var(--variable-name) used everywhere else
* to point back here. 
*
* This lets us change important website design parameters
* from a single convenient place
*/
:root {
    --white:rgb(255, 243, 223);
    --purple: rgb(167, 118, 200);
    --red: rgb(235, 54, 111);
    --black: rgb(56, 48, 74);
    --aqua: rgb(76, 193, 193);
    --green: rgb(72, 214, 67);
    --ltgreen: rgb(176, 247, 187);
} 

/*
* CONTENT AREAS
* this is how we style the vast majority of what appears on the page
*/

/* BODY styles apply by default to everything */
body {
    background-image: radial-gradient(var(--white),var(--purple));
    color: var(--white);
    font-family: Ubuntu, Roboto, Arial, sans;
} 

/* H1 thru H4 styles apply to headlines, with 1 being largest headings */
h1 {
    font-size: 13vw;
    text-shadow: -2px 2px 8px var(--white);
} h2 {
     font-size: 8vw;
} h3 {
     font-size: 5vw;
} 

/* A styles apply to links */ 
a {
    font-size: 3vw;
}

/* IMG styles apply to images */
img {
    font-size: 3vw;
}

/* FORM styles apply to user-submittable forms */
form {
    font-size: 3vw;
}
/* ARTICLE styles apply to sections of content */
article {
    background-color: var(--white);
    color: var(--black);
    box-shadow: 2px 2px 4px var(--black);
    padding: 50px;
    margin: 50px;
} 

/*
* LAYOUT & POSITIONING
* this makes sure the banner, navbar, and main content areas are
* all in correct position and resize properly on different devices
*/
#banner {
    background: var(--aqua);
    min-width: 100%;
    height: 300px;
    vertical-align: top;
    padding: 0
} .sub {
    font-size: 6vw;
    color: var(--red);
    display: inline-block;
    padding: 10px;
    align-self: bottom;
}.logo {
    box-shadow: 2px 2px 4px var(--white);
} #navbar {
    position: relative;
    top: -10vw;
    padding: 0px;
    margin: 0px;
} #main {
    clear: both;
}

/*
* NAVBAR FUNCTIONALITY
* this makes the navbar buttons display in a list, appear as block items,
* and change colors when hovered over.
*/
ul.sideways {
    list-style-type: none;
    margin: 10;
    padding: 10;
} ul.sideways li {
    display: inline;
    float: left;
} ul li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: currentColor;
    box-shadow: 2px 2px 4px var(--black);
} ul li a:link {
    background-color: var(--green);
} ul li a:visited{
    background-color: var(--green);
} ul li a:hover{
    background-color: var(--ltgreen);
} ul li a:active {
    background-color: var(--black);
} ul li a.current {
    background-color: var(--black);
}
