/*
* CSS STYLESHEET
*/

/*
* PRIMARY STYLE DEFINITIONS
* Important brand colors, fonts, etc. should be defined
* up here, and var(--variable-name) used everywhere else
* to point back here. 
*
* This lets us change important website design parameters
* from a single convenient place
*/
:root {
    --white:rgb(237, 227, 248);
    --purple: rgb(167, 118, 200);
    --ltpurple: rgb(207, 158, 250);
    --red: rgb(225,96,118);
    --black: rgb(49, 0, 46);
    --aqua: rgb(76, 193, 193);
    --green: rgb(72, 214, 67);
    --ltgreen: rgb(176, 247, 187);
    --orange: rgb(240, 200, 0);

    --banner-background: var(--aqua);
    --banner-button: var(--purple);
    --banner-button-pressed: var(--ltpurple);
    --banner-button-current: var(--black);
    --banner-button-text: var(--white);
    --banner-subtitle: var(--red);
} 

/*
* CONTENT AREAS
* this is how we style the vast majority of what appears on the page
*/

/* BODY styles apply by default to everything */
body {
    background-image: radial-gradient(var(--orange),var(--white));
    color: var(--white);
    font-family: Ubuntu, Roboto, Arial, sans;
} 

/* H1 thru H6 styles apply to headlines, with 1 being largest headings */
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:1vw;
}

h1 {
    font-size: 6em;
    font-weight: bolder, bold;
} h2 {
    font-size: 4em; 
    font-weight: bolder, bold;
} h3 {
    font-size: 3em; 
    font-weight: bold;
    font-kerning: -15px;
} h4 {
    font-size: 2.3em; 
    font-weight: bold;
} h5 {
    font-size: 1.7em; 
    font-weight: medium;
} h6 {
    font-size: 1.3em; 
    font-weight: medium;
} p {
    font-size: .95em; 
    font-weight: normal;
    line-height: 1.5em;
    color: var(--black);
} small {
    font-size: .7em;
    font-weight: normal;
    line-height: 1.5em;
} a { /* A styles apply to links */ 
    font-size: .95em;
    color:var(--black);
}

/* IMG styles apply to images */
img {
    max-width: 90vw;
    max-height: 90vh;
    margin: 1vw;
} img.polaroid {
    background-color: aliceblue;
    padding: 1rem 1rem 4rem;
    box-shadow: 2px 2px 4px var(--black);
    transform: rotate(3deg);
}

/* FORM styles apply to user-submittable forms */
form {
    display: block;
    width: 90%;
} label {
    width: 100%;
    text-align: center;
    line-height: 3em;
    font-weight: 600;
} textarea {
    width: 100%;
    resize: vertical;
    padding: .75em;
} select {
    width: 100%;
} input {
    box-sizing: border-box;
    width: 100%;
    margin: 0em;
    padding: .75em;
} input, button, textarea, select {
    font: inherit;
}

/* ARTICLE styles apply to sections of content */
article {
    background-color: var(--white);
    color: var(--black);
    box-shadow: 2px 2px 4px var(--black);
    padding: 4vw;
    margin: 1vw;
    max-width: 700px;
} 

/*
* LAYOUT & POSITIONING
* this makes sure the banner, navbar, and main content areas are
* all in correct position and resize properly on different devices
*/
#main {
    display: flex;
    flex-wrap: wrap;
}
/*
* NAVBAR FUNCTIONALITY
* this makes the navbar buttons display in a list, appear as block items,
* and change colors when hovered over.
*/
ul.sideways {
    display: flex;
    list-style-type: none;
} .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container img{
    width: 500px;
    height: 400px;
    border: none;
  
    margin-left: 350px;
}
.container a{
    font-size: 15px;
}

.friends a{
    font-size: 15px
}
.about{
 font-size: 18px;
}
.first ,.serv, .lin, .us, .fr{
font-size: 35px;
font-weight: 700;
color: rgb(94, 94, 94);
}
.links{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}
.links a{
    color: black;
   text-decoration: none;
   font-size: 20px;
   margin-bottom: 20px;
}
.all , .friends{
display: flex;
flex-direction: column;
gap: 20px;
}
.align{
font-size: 15px;
font-weight: 300;
}
.align br{
    gap: 10px;
}
.end{
    font-size: 20px;
}
.friend{
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}
.friend a{
    text-decoration: none;
    color: black;
}

.cardContainer{
    display: flex;
    flex-direction: row;
justify-content: space-around;
margin: 40px 0;
}
.card{
 display: flex;
 flex-direction: column;
 align-items: center;   
}
.card a{
font-size: 45px;
}
.card p{
    font-size: 20px;
}
.friend .fr{
    align-items: center;
    margin-left: 750px;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}